{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">Notes</h1>
  <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
      {{ note.data }}
      <button type="button" class="close" onClick="deleteNote({ note,id })">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
  <form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
  </form>
  
  <div>

    <br aria-setsize="30">
    <h1 align="center"> Course Content</h1>
    
    <hr style="height:2px;border: width 20px;;color:gray;background-color:black">
    <div class="border-bottom row" style="margin: bottom 8px;padding: bottom 8px;">
      <div class="col-9">
        <h4 >Engeneering Mathematics</h4>
      </div>     
      <div class="col-3">
        <a class="btn btn-primary" target="_blank" href="https://drive.google.com/file/d/1e8X-vNMecr7dlUkYz_H2oTe7YS3LMQx1/view?usp=sharing" role="button">View</a>
      </div>
      
    </div>
    <br aria-setsize="15">

    <div class="border-bottom row" style="margin: bottom 8px;padding: bottom 8px;">
      <div class="col-9">
        <h4 >Discrete Mathematics</h4>
      </div>     
      <div class="col-3">
        <a class="btn btn-primary" target="_blank" href="https://drive.google.com/file/d/1eCAR0XxbwyInTwo-rORBnd2EflmObfml/view?usp=sharing" role="button">View</a>
      </div>
    </div>
    <br aria-setsize="30">

    <div class="border-bottom row" style="margin: bottom 8px;padding: bottom 8px;">
      <div class="col-9">
        <h4 >Engeneering Physics</h4>
      </div>     
      <div class="col-3">
        <a class="btn btn-primary" target="_blank" href="https://drive.google.com/file/d/1eDQwWBaIJSx2TpDt7jWwi5gclFpQcABY/view?usp=sharing" role="button">View</a>
      </div>
    </div>
    <br aria-setsize="30">

    <div class="border-bottom row" style="margin: bottom 8px;padding: bottom 8px;">
      <div class="col-9">
        <h4 >Principles of Programming Languages</h4>
      </div>     
      <div class="col-3">
        <a class="btn btn-primary" target="_blank" href="https://drive.google.com/file/d/1eG0vf4wNBa9T4zzYv77giHXjb05928t3/view?usp=sharing" role="button">View</a>
      </div>
    </div>
    <br aria-setsize="30">

    <div class="border-bottom row" style="margin: bottom 8px;padding: bottom 8px;">
      <div class="col-9">
        <h4 >Software Engineering & Product Management</h4>
      </div>     
      <div class="col-3">
        <a class="btn btn-primary" target="_blank" href="https://drive.google.com/file/d/1eI0CNTIpardtMtWJNy01nZbBxEUDf5Yo/view?usp=sharing" role="button">View</a>
      </div>
    </div>
    <br aria-setsize="800">
  </div>
  {% endblock %}
